# Capstone Project: Create a Customer Segmentation Report for Arvato Financial Services

In this project, you will analyze demographics data for customers of a mail-order sales company in Germany, comparing it against demographics information for the general population. You'll use unsupervised learning techniques to perform customer segmentation, identifying the parts of the population that best describe the core customer base of the company. Then, you'll apply what you've learned on a third dataset with demographics information for targets of a marketing campaign for the company, and use a model to predict which individuals are most likely to convert into becoming customers for the company. The data that you will use has been provided by our partners at Bertelsmann Arvato Analytics, and represents a real-life data science task.

If you completed the first term of this program, you will be familiar with the first part of this project, from the unsupervised learning project. The versions of those two datasets used in this project will include many more features and has not been pre-cleaned. You are also free to choose whatever approach you'd like to analyzing the data rather than follow pre-determined steps. In your work on this project, make sure that you carefully document your steps and decisions, since your main deliverable for this project will be a blog post reporting your findings.

In [1]:
# import libraries here; add more as necessary
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


import datetime

# magic word for producing visualizations in notebook
%matplotlib inline

## Part 0: Get to Know the Data

There are four data files associated with this project:

- `Udacity_AZDIAS_052018.csv`: Demographics data for the general population of Germany; 891 211 persons (rows) x 366 features (columns).
- `Udacity_CUSTOMERS_052018.csv`: Demographics data for customers of a mail-order company; 191 652 persons (rows) x 369 features (columns).
- `Udacity_MAILOUT_052018_TRAIN.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 982 persons (rows) x 367 (columns).
- `Udacity_MAILOUT_052018_TEST.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 833 persons (rows) x 366 (columns).

Each row of the demographics files represents a single person, but also includes information outside of individuals, including information about their household, building, and neighborhood. Use the information from the first two files to figure out how customers ("CUSTOMERS") are similar to or differ from the general population at large ("AZDIAS"), then use your analysis to make predictions on the other two files ("MAILOUT"), predicting which recipients are most likely to become a customer for the mail-order company.

The "CUSTOMERS" file contains three extra columns ('CUSTOMER_GROUP', 'ONLINE_PURCHASE', and 'PRODUCT_GROUP'), which provide broad information about the customers depicted in the file. The original "MAILOUT" file included one additional column, "RESPONSE", which indicated whether or not each recipient became a customer of the company. For the "TRAIN" subset, this column has been retained, but in the "TEST" subset it has been removed; it is against that withheld column that your final predictions will be assessed in the Kaggle competition.

Otherwise, all of the remaining columns are the same between the three data files. For more information about the columns depicted in the files, you can refer to two Excel spreadsheets provided in the workspace. [One of them](./DIAS Information Levels - Attributes 2017.xlsx) is a top-level list of attributes and descriptions, organized by informational category. [The other](./DIAS Attributes - Values 2017.xlsx) is a detailed mapping of data values for each feature in alphabetical order.

In the below cell, we've provided some initial code to load in the first two datasets. Note for all of the `.csv` data files in this project that they're semicolon (`;`) delimited, so an additional argument in the [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) call has been included to read in the data properly. Also, considering the size of the datasets, it may take some time for them to load completely.

You'll notice when the data is loaded in that a warning message will immediately pop up. Before you really start digging into the modeling and analysis, you're going to need to perform some cleaning. Take some time to browse the structure of the data and look over the informational spreadsheets to understand the data values. Make some decisions on which features to keep, which features to drop, and if any revisions need to be made on data formats. It'll be a good idea to create a function with pre-processing steps, since you'll need to clean all of the datasets before you work with them.

In [2]:
# load in the data
azdias = pd.read_csv('data/AZDIAS.csv', sep=';')
customers = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_CUSTOMERS_052018.csv', sep=';')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
azdias = pd.read_csv('data/AZDIAS.csv', sep=';')
customers = pd.read_csv('data/CUSTOMERS.csv', sep=';')

First 5 rows of both datasets, its shape and count of missing values in each datasets

In [4]:
display(azdias.head())

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,910215,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
1,910220,-1,9.0,0.0,NaN,NaN,NaN,NaN,21.0,11.0,...,4.0,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1
2,910225,-1,9.0,17.0,NaN,NaN,NaN,NaN,17.0,10.0,...,2.0,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3
3,910226,2,1.0,13.0,NaN,NaN,NaN,NaN,13.0,1.0,...,0.0,7.0,10.0,11.0,NaN,9.0,7.0,3,2,4
4,910241,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,3.0,...,2.0,3.0,5.0,4.0,2.0,9.0,3.0,4,1,3

In [5]:
print(azdias.shape)

(891221, 366)

In [6]:
#display(azdias.isna().sum())

In [7]:
display(customers.head())

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,PRODUCT_GROUP,CUSTOMER_GROUP,ONLINE_PURCHASE,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,9626,2,1.0,10.0,NaN,NaN,NaN,NaN,10.0,1.0,...,2.0,6.0,9.0,7.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
1,9628,-1,9.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,9.0,NaN,3,FOOD,SINGLE_BUYER,0,1,4
2,143872,-1,1.0,6.0,NaN,NaN,NaN,NaN,0.0,1.0,...,11.0,6.0,9.0,2.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
3,143873,1,1.0,8.0,NaN,NaN,NaN,NaN,8.0,0.0,...,2.0,NaN,9.0,7.0,1,COSMETIC,MULTI_BUYER,0,1,4
4,143874,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,7.0,...,4.0,2.0,9.0,3.0,1,FOOD,MULTI_BUYER,0,1,3

In [8]:
print(customers.shape)

(191652, 369)

In [9]:
#display(customers.isna().sum())

In [10]:
customers.shape

(191652, 369)

In [11]:
attribute_info = pd.read_excel('./DIAS Information Levels - Attributes 2017.xlsx',index_col=None, header=None ).drop(columns = 0, axis=1)
attribute_info.head()

,1,2,3,4
0,NaN,NaN,NaN,NaN
1,Information level,Attribute,Description,Additional notes
2,NaN,AGER_TYP,best-ager typology,in cooperation with Kantar TNS; the informatio...
3,Person,ALTERSKATEGORIE_GROB,age through prename analysis,modelled on millions of first name-age-referen...
4,NaN,ANREDE_KZ,gender,NaN

In [12]:
more_info = pd.read_excel('./DIAS Attributes - Values 2017.xlsx',index_col=None, header=None)
more_info.head()

    0          1                   2      3                           4
0 NaN        NaN                 NaN    NaN                         NaN
1 NaN  Attribute         Description  Value                     Meaning
2 NaN   AGER_TYP  best-ager typology     -1                     unknown
3 NaN        NaN                 NaN      0  no classification possible
4 NaN        NaN                 NaN      1             passive elderly

In [13]:
topics = attribute_info[~attribute_info[1].isna()][1].values
print(topics)

['Information level' 'Person' 'Household' 'Building' 'Microcell (RR4_ID)'
 'Microcell (RR3_ID)' '125m x 125m Grid' 'Postcode ' 'RR1_ID' 'PLZ8'
 'Community']

## Part 1: Customer Segmentation Report

The main bulk of your analysis will come in this part of the project. Here, you should use unsupervised learning techniques to describe the relationship between the demographics of the company's existing customers and the general population of Germany. By the end of this part, you should be able to describe parts of the general population that are more likely to be part of the mail-order company's main customer base, and which parts of the general population are less so.

In [14]:
#data cleaning
def str2float(x):
    if type(x)==str:
        return eval(x)
    else:
        return x
    
def data_cleaning(df):
    '''
    Cleaning the data: replace some values,change string into number and change some columns into categories and datatime.
    
    Parameters:
    INPUT:
    df(Dataframe): the dataset which will be cleaned
    
    OUTPUT:
    df(Datafrem): the cleaned dataset
    '''
    
    for column in ['CAMEO_DEUG_2015', 'CAMEO_DEU_2015', 'CAMEO_INTL_2015']:
        print(column)
        try:
            df[column][(df[column]=="X")|(df[column]=="XX")]=np.nan
        except:
            pass
    for column in ['CAMEO_DEUG_2015', 'CAMEO_INTL_2015']:
        df[column]=df[column].apply(str2float)
        print(column)
    
    #change the catergory columns into number
    for column in ["CAMEO_DEU_2015","D19_LETZTER_KAUF_BRANCHE","OST_WEST_KZ",]:
        print(column)
        df[column] = pd.Categorical(df[column])
        df[column] = df[column].cat.codes
        
    #extract the time,and keep the year   
    df["EINGEFUEGT_AM"]=pd.to_datetime(df["EINGEFUEGT_AM"]).dt.year

    #change all the unknown back to nan  #this step is not exactly correct, because some unknown data is labled as 0 and 9.
    for column in df.columns.values:
        print(column)
        try:
            df[column][df[column]==-1]=np.nan
        except:
            pass    
    return df

In [15]:
customers = data_cleaning(customers)

CAMEO_DEUG_2015
CAMEO_DEU_2015
CAMEO_INTL_2015

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

CAMEO_DEUG_2015
CAMEO_INTL_2015
CAMEO_DEU_2015
D19_LETZTER_KAUF_BRANCHE
OST_WEST_KZ
LNR

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

AGER_TYP
AKT_DAT_KL
ALTER_HH
ALTER_KIND1
ALTER_KIND2
ALTER_KIND3
ALTER_KIND4
ALTERSKATEGORIE_FEIN
ANZ_HAUSHALTE_AKTIV
ANZ_HH_TITEL
ANZ_KINDER
ANZ_PERSONEN
ANZ_STATISTISCHE_HAUSHALTE
ANZ_TITEL
ARBEIT
BALLRAUM
CAMEO_DEU_2015
CAMEO_DEUG_2015
CAMEO_INTL_2015
CJT_GESAMTTYP
CJT_KATALOGNUTZER
CJT_TYP_1
CJT_TYP_2
CJT_TYP_3
CJT_TYP_4
CJT_TYP_5
CJT_TYP_6
D19_BANKEN_ANZ_12
D19_BANKEN_ANZ_24
D19_BANKEN_DATUM
D19_BANKEN_DIREKT
D19_BANKEN_GROSS
D19_BANKEN_LOKAL
D19_BANKEN_OFFLINE_DATUM
D19_BANKEN_ONLINE_DATUM
D19_BANKEN_ONLINE_QUOTE_12
D19_BANKEN_REST
D19_BEKLEIDUNG_GEH
D19_BEKLEIDUNG_REST
D19_BILDUNG
D19_BIO_OEKO
D19_BUCH_CD
D19_DIGIT_SERV
D19_DROGERIEARTIKEL
D19_ENERGIE
D19_FREIZEIT
D19_GARTEN
D19_GESAMT_ANZ_12
D19_GESAMT_ANZ_24
D19_GESAMT_DATUM
D19_GESAMT_OFFLINE_DATUM
D19_GESAMT_ONLINE_DATUM
D19_GESAMT_ONLINE_QUOTE_12
D19_HANDWERK
D19_HAUS_DEKO
D19_KINDERARTIKEL
D19_KONSUMTYP
D19_KONSUMTYP_MAX
D19_KOSMETIK
D19_LEBENSMITTEL
D19_LETZTER_KAUF_BRANCHE
D19_LOTTO
D19_NAHRUNGSERGAENZUNG
D19_RATGEBER
D19_REISEN
D19_SAMMELARTIKEL
D19_SCHUHE
D19_SONSTIGE
D19_SOZIALES
D19_TECHNIK
D19_TELKO_ANZ_12
D19_TELKO_ANZ_24
D19_TELKO_DATUM
D19_TELKO_MOBILE
D19_TELKO_OFFLINE_DATUM
D19_TELKO_ONLINE_DATUM
D19_TELKO_ONLINE_QUOTE_12
D19_TELKO_REST
D19_TIERARTIKEL
D19_VERSAND_ANZ_12
D19_VERSAND_ANZ_24
D19_VERSAND_DATUM
D19_VERSAND_OFFLINE_DATUM
D19_VERSAND_ONLINE_DATUM
D19_VERSAND_ONLINE_QUOTE_12
D19_VERSAND_REST
D19_VERSI_ANZ_12
D19_VERSI_ANZ_24
D19_VERSI_DATUM
D19_VERSI_OFFLINE_DATUM
D19_VERSI_ONLINE_DATUM
D19_VERSI_ONLINE_QUOTE_12
D19_VERSICHERUNGEN
D19_VOLLSORTIMENT
D19_WEIN_FEINKOST
DSL_FLAG
EINGEFUEGT_AM
EINGEZOGENAM_HH_JAHR
EWDICHTE
EXTSEL992
FINANZ_ANLEGER
FINANZ_HAUSBAUER
FINANZ_MINIMALIST
FINANZ_SPARER
FINANZ_UNAUFFAELLIGER
FINANZ_VORSORGER
FINANZTYP
FIRMENDICHTE
GEBAEUDETYP
GEBAEUDETYP_RASTER
GEBURTSJAHR
GEMEINDETYP
GFK_URLAUBERTYP
GREEN_AVANTGARDE
HEALTH_TYP
HH_DELTA_FLAG
HH_EINKOMMEN_SCORE
INNENSTADT
KBA05_ALTER1
KBA05_ALTER2
KBA05_ALTER3
KBA05_ALTER4
KBA05_ANHANG
KBA05_ANTG1
KBA05_ANTG2
KBA05_ANTG3
KBA05_ANTG4
KBA05_AUTOQUOT
KBA05_BAUMAX
KBA05_CCM1
KBA05_CCM2
KBA05_CCM3
KBA05_CCM4
KBA05_DIESEL
KBA05_FRAU
KBA05_GBZ
KBA05_HERST1
KBA05_HERST2
KBA05_HERST3
KBA05_HERST4
KBA05_HERST5
KBA05_HERSTTEMP
KBA05_KRSAQUOT
KBA05_KRSHERST1
KBA05_KRSHERST2
KBA05_KRSHERST3
KBA05_KRSKLEIN
KBA05_KRSOBER
KBA05_KRSVAN
KBA05_KRSZUL
KBA05_KW1
KBA05_KW2
KBA05_KW3
KBA05_MAXAH
KBA05_MAXBJ
KBA05_MAXHERST
KBA05_MAXSEG
KBA05_MAXVORB
KBA05_MOD1
KBA05_MOD2
KBA05_MOD3
KBA05_MOD4
KBA05_MOD8
KBA05_MODTEMP
KBA05_MOTOR
KBA05_MOTRAD
KBA05_SEG1
KBA05_SEG10
KBA05_SEG2
KBA05_SEG3
KBA05_SEG4
KBA05_SEG5
KBA05_SEG6
KBA05_SEG7
KBA05_SEG8
KBA05_SEG9
KBA05_VORB0
KBA05_VORB1
KBA05_VORB2
KBA05_ZUL1
KBA05_ZUL2
KBA05_ZUL3
KBA05_ZUL4
KBA13_ALTERHALTER_30
KBA13_ALTERHALTER_45
KBA13_ALTERHALTER_60
KBA13_ALTERHALTER_61
KBA13_ANTG1
KBA13_ANTG2
KBA13_ANTG3
KBA13_ANTG4
KBA13_ANZAHL_PKW
KBA13_AUDI
KBA13_AUTOQUOTE
KBA13_BAUMAX
KBA13_BJ_1999
KBA13_BJ_2000
KBA13_BJ_2004
KBA13_BJ_2006
KBA13_BJ_2008
KBA13_BJ_2009
KBA13_BMW
KBA13_CCM_0_1400
KBA13_CCM_1000
KBA13_CCM_1200
KBA13_CCM_1400
KBA13_CCM_1401_2500
KBA13_CCM_1500
KBA13_CCM_1600
KBA13_CCM_1800
KBA13_CCM_2000
KBA13_CCM_2500
KBA13_CCM_2501
KBA13_CCM_3000
KBA13_CCM_3001
KBA13_FAB_ASIEN
KBA13_FAB_SONSTIGE
KBA13_FIAT
KBA13_FORD
KBA13_GBZ
KBA13_HALTER_20
KBA13_HALTER_25
KBA13_HALTER_30
KBA13_HALTER_35
KBA13_HALTER_40
KBA13_HALTER_45
KBA13_HALTER_50
KBA13_HALTER_55
KBA13_HALTER_60
KBA13_HALTER_65
KBA13_HALTER_66
KBA13_HERST_ASIEN
KBA13_HERST_AUDI_VW
KBA13_HERST_BMW_BENZ
KBA13_HERST_EUROPA
KBA13_HERST_FORD_OPEL
KBA13_HERST_SONST
KBA13_HHZ
KBA13_KMH_0_140
KBA13_KMH_110
KBA13_KMH_140
KBA13_KMH_140_210
KBA13_KMH_180
KBA13_KMH_210
KBA13_KMH_211
KBA13_KMH_250
KBA13_KMH_251
KBA13_KRSAQUOT
KBA13_KRSHERST_AUDI_VW
KBA13_KRSHERST_BMW_BENZ
KBA13_KRSHERST_FORD_OPEL
KBA13_KRSSEG_KLEIN
KBA13_KRSSEG_OBER
KBA13_KRSSEG_VAN
KBA13_KRSZUL_NEU
KBA13_KW_0_60
KBA13_KW_110
KBA13_KW_120
KBA13_KW_121
KBA13_KW_30
KBA13_KW_40
KBA13_KW_50
KBA13_KW_60
KBA13_KW_61_120
KBA13_KW_70
KBA13_KW_80
KBA13_KW_90
KBA13_MAZDA
KBA13_MERCEDES
KBA13_MOTOR
KBA13_NISSAN
KBA13_OPEL
KBA13_PEUGEOT
KBA13_RENAULT
KBA13_SEG_GELAENDEWAGEN
KBA13_SEG_GROSSRAUMVANS
KBA13_SEG_KLEINST
KBA13_SEG_KLEINWAGEN
KBA13_SEG_KOMPAKTKLASSE
KBA13_SEG_MINIVANS
KBA13_SEG_MINIWAGEN
KBA13_SEG_MITTELKLASSE
KBA13_SEG_OBEREMITTELKLASSE
KBA13_SEG_OBERKLASSE
KBA13_SEG_SONSTIGE
KBA13_SEG_SPORTWAGEN
KBA13_SEG_UTILITIES
KBA13_SEG_VAN
KBA13_SEG_WOHNMOBILE
KBA13_SITZE_4
KBA13_SITZE_5
KBA13_SITZE_6
KBA13_TOYOTA
KBA13_VORB_0
KBA13_VORB_1
KBA13_VORB_1_2
KBA13_VORB_2
KBA13_VORB_3
KBA13_VW
KK_KUNDENTYP
KKK
KOMBIALTER
KONSUMNAEHE
KONSUMZELLE
LP_FAMILIE_FEIN
LP_FAMILIE_GROB
LP_LEBENSPHASE_FEIN
LP_LEBENSPHASE_GROB
LP_STATUS_FEIN
LP_STATUS_GROB
MIN_GEBAEUDEJAHR
MOBI_RASTER
MOBI_REGIO
NATIONALITAET_KZ
ONLINE_AFFINITAET
ORTSGR_KLS9
OST_WEST_KZ
PLZ8_ANTG1
PLZ8_ANTG2
PLZ8_ANTG3
PLZ8_ANTG4
PLZ8_BAUMAX
PLZ8_GBZ
PLZ8_HHZ
PRAEGENDE_JUGENDJAHRE
REGIOTYP
RELAT_AB
RETOURTYP_BK_S
RT_KEIN_ANREIZ
RT_SCHNAEPPCHEN
RT_UEBERGROESSE
SEMIO_DOM
SEMIO_ERL
SEMIO_FAM
SEMIO_KAEM
SEMIO_KRIT
SEMIO_KULT
SEMIO_LUST
SEMIO_MAT
SEMIO_PFLICHT
SEMIO_RAT
SEMIO_REL
SEMIO_SOZ
SEMIO_TRADV
SEMIO_VERT
SHOPPER_TYP
SOHO_KZ
STRUKTURTYP
TITEL_KZ
UMFELD_ALT
UMFELD_JUNG
UNGLEICHENN_FLAG
VERDICHTUNGSRAUM
VERS_TYP
VHA
VHN
VK_DHT4A
VK_DISTANZ
VK_ZG11
W_KEIT_KIND_HH
WOHNDAUER_2008
WOHNLAGE
ZABEOTYP
PRODUCT_GROUP
CUSTOMER_GROUP
ONLINE_PURCHASE
ANREDE_KZ
ALTERSKATEGORIE_GROB

In [16]:
azdias = data_cleaning(azdias)

CAMEO_DEUG_2015
CAMEO_DEU_2015

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

CAMEO_INTL_2015
CAMEO_DEUG_2015
CAMEO_INTL_2015
CAMEO_DEU_2015
D19_LETZTER_KAUF_BRANCHE
OST_WEST_KZ
LNR

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

AGER_TYP
AKT_DAT_KL
ALTER_HH
ALTER_KIND1
ALTER_KIND2
ALTER_KIND3
ALTER_KIND4
ALTERSKATEGORIE_FEIN
ANZ_HAUSHALTE_AKTIV
ANZ_HH_TITEL
ANZ_KINDER
ANZ_PERSONEN
ANZ_STATISTISCHE_HAUSHALTE
ANZ_TITEL
ARBEIT
BALLRAUM
CAMEO_DEU_2015
CAMEO_DEUG_2015
CAMEO_INTL_2015
CJT_GESAMTTYP
CJT_KATALOGNUTZER
CJT_TYP_1
CJT_TYP_2
CJT_TYP_3
CJT_TYP_4
CJT_TYP_5
CJT_TYP_6
D19_BANKEN_ANZ_12
D19_BANKEN_ANZ_24
D19_BANKEN_DATUM
D19_BANKEN_DIREKT
D19_BANKEN_GROSS
D19_BANKEN_LOKAL
D19_BANKEN_OFFLINE_DATUM
D19_BANKEN_ONLINE_DATUM
D19_BANKEN_ONLINE_QUOTE_12
D19_BANKEN_REST
D19_BEKLEIDUNG_GEH
D19_BEKLEIDUNG_REST
D19_BILDUNG
D19_BIO_OEKO
D19_BUCH_CD
D19_DIGIT_SERV
D19_DROGERIEARTIKEL
D19_ENERGIE
D19_FREIZEIT
D19_GARTEN
D19_GESAMT_ANZ_12
D19_GESAMT_ANZ_24
D19_GESAMT_DATUM
D19_GESAMT_OFFLINE_DATUM
D19_GESAMT_ONLINE_DATUM
D19_GESAMT_ONLINE_QUOTE_12
D19_HANDWERK
D19_HAUS_DEKO
D19_KINDERARTIKEL
D19_KONSUMTYP
D19_KONSUMTYP_MAX
D19_KOSMETIK
D19_LEBENSMITTEL
D19_LETZTER_KAUF_BRANCHE
D19_LOTTO
D19_NAHRUNGSERGAENZUNG
D19_RATGEBER
D19_REISEN
D19_SAMMELARTIKEL
D19_SCHUHE
D19_SONSTIGE
D19_SOZIALES
D19_TECHNIK
D19_TELKO_ANZ_12
D19_TELKO_ANZ_24
D19_TELKO_DATUM
D19_TELKO_MOBILE
D19_TELKO_OFFLINE_DATUM
D19_TELKO_ONLINE_DATUM
D19_TELKO_ONLINE_QUOTE_12
D19_TELKO_REST
D19_TIERARTIKEL
D19_VERSAND_ANZ_12
D19_VERSAND_ANZ_24
D19_VERSAND_DATUM
D19_VERSAND_OFFLINE_DATUM
D19_VERSAND_ONLINE_DATUM
D19_VERSAND_ONLINE_QUOTE_12
D19_VERSAND_REST
D19_VERSI_ANZ_12
D19_VERSI_ANZ_24
D19_VERSI_DATUM
D19_VERSI_OFFLINE_DATUM
D19_VERSI_ONLINE_DATUM
D19_VERSI_ONLINE_QUOTE_12
D19_VERSICHERUNGEN
D19_VOLLSORTIMENT
D19_WEIN_FEINKOST
DSL_FLAG
EINGEFUEGT_AM
EINGEZOGENAM_HH_JAHR
EWDICHTE
EXTSEL992
FINANZ_ANLEGER
FINANZ_HAUSBAUER
FINANZ_MINIMALIST
FINANZ_SPARER
FINANZ_UNAUFFAELLIGER
FINANZ_VORSORGER
FINANZTYP
FIRMENDICHTE
GEBAEUDETYP
GEBAEUDETYP_RASTER
GEBURTSJAHR
GEMEINDETYP
GFK_URLAUBERTYP
GREEN_AVANTGARDE
HEALTH_TYP
HH_DELTA_FLAG
HH_EINKOMMEN_SCORE
INNENSTADT
KBA05_ALTER1
KBA05_ALTER2
KBA05_ALTER3
KBA05_ALTER4
KBA05_ANHANG
KBA05_ANTG1
KBA05_ANTG2
KBA05_ANTG3
KBA05_ANTG4
KBA05_AUTOQUOT
KBA05_BAUMAX
KBA05_CCM1
KBA05_CCM2
KBA05_CCM3
KBA05_CCM4
KBA05_DIESEL
KBA05_FRAU
KBA05_GBZ
KBA05_HERST1
KBA05_HERST2
KBA05_HERST3
KBA05_HERST4
KBA05_HERST5
KBA05_HERSTTEMP
KBA05_KRSAQUOT
KBA05_KRSHERST1
KBA05_KRSHERST2
KBA05_KRSHERST3
KBA05_KRSKLEIN
KBA05_KRSOBER
KBA05_KRSVAN
KBA05_KRSZUL
KBA05_KW1
KBA05_KW2
KBA05_KW3
KBA05_MAXAH
KBA05_MAXBJ
KBA05_MAXHERST
KBA05_MAXSEG
KBA05_MAXVORB
KBA05_MOD1
KBA05_MOD2
KBA05_MOD3
KBA05_MOD4
KBA05_MOD8
KBA05_MODTEMP
KBA05_MOTOR
KBA05_MOTRAD
KBA05_SEG1
KBA05_SEG10
KBA05_SEG2
KBA05_SEG3
KBA05_SEG4
KBA05_SEG5
KBA05_SEG6
KBA05_SEG7
KBA05_SEG8
KBA05_SEG9
KBA05_VORB0
KBA05_VORB1
KBA05_VORB2
KBA05_ZUL1
KBA05_ZUL2
KBA05_ZUL3
KBA05_ZUL4
KBA13_ALTERHALTER_30
KBA13_ALTERHALTER_45
KBA13_ALTERHALTER_60
KBA13_ALTERHALTER_61
KBA13_ANTG1
KBA13_ANTG2
KBA13_ANTG3
KBA13_ANTG4
KBA13_ANZAHL_PKW
KBA13_AUDI
KBA13_AUTOQUOTE
KBA13_BAUMAX
KBA13_BJ_1999
KBA13_BJ_2000
KBA13_BJ_2004
KBA13_BJ_2006
KBA13_BJ_2008
KBA13_BJ_2009
KBA13_BMW
KBA13_CCM_0_1400
KBA13_CCM_1000
KBA13_CCM_1200
KBA13_CCM_1400
KBA13_CCM_1401_2500
KBA13_CCM_1500
KBA13_CCM_1600
KBA13_CCM_1800
KBA13_CCM_2000
KBA13_CCM_2500
KBA13_CCM_2501
KBA13_CCM_3000
KBA13_CCM_3001
KBA13_FAB_ASIEN
KBA13_FAB_SONSTIGE
KBA13_FIAT
KBA13_FORD
KBA13_GBZ
KBA13_HALTER_20
KBA13_HALTER_25
KBA13_HALTER_30
KBA13_HALTER_35
KBA13_HALTER_40
KBA13_HALTER_45
KBA13_HALTER_50
KBA13_HALTER_55
KBA13_HALTER_60
KBA13_HALTER_65
KBA13_HALTER_66
KBA13_HERST_ASIEN
KBA13_HERST_AUDI_VW
KBA13_HERST_BMW_BENZ
KBA13_HERST_EUROPA
KBA13_HERST_FORD_OPEL
KBA13_HERST_SONST
KBA13_HHZ
KBA13_KMH_0_140
KBA13_KMH_110
KBA13_KMH_140
KBA13_KMH_140_210
KBA13_KMH_180
KBA13_KMH_210
KBA13_KMH_211
KBA13_KMH_250
KBA13_KMH_251
KBA13_KRSAQUOT
KBA13_KRSHERST_AUDI_VW
KBA13_KRSHERST_BMW_BENZ
KBA13_KRSHERST_FORD_OPEL
KBA13_KRSSEG_KLEIN
KBA13_KRSSEG_OBER
KBA13_KRSSEG_VAN
KBA13_KRSZUL_NEU
KBA13_KW_0_60
KBA13_KW_110
KBA13_KW_120
KBA13_KW_121
KBA13_KW_30
KBA13_KW_40
KBA13_KW_50
KBA13_KW_60
KBA13_KW_61_120
KBA13_KW_70
KBA13_KW_80
KBA13_KW_90
KBA13_MAZDA
KBA13_MERCEDES
KBA13_MOTOR
KBA13_NISSAN
KBA13_OPEL
KBA13_PEUGEOT
KBA13_RENAULT
KBA13_SEG_GELAENDEWAGEN
KBA13_SEG_GROSSRAUMVANS
KBA13_SEG_KLEINST
KBA13_SEG_KLEINWAGEN
KBA13_SEG_KOMPAKTKLASSE
KBA13_SEG_MINIVANS
KBA13_SEG_MINIWAGEN
KBA13_SEG_MITTELKLASSE
KBA13_SEG_OBEREMITTELKLASSE
KBA13_SEG_OBERKLASSE
KBA13_SEG_SONSTIGE
KBA13_SEG_SPORTWAGEN
KBA13_SEG_UTILITIES
KBA13_SEG_VAN
KBA13_SEG_WOHNMOBILE
KBA13_SITZE_4
KBA13_SITZE_5
KBA13_SITZE_6
KBA13_TOYOTA
KBA13_VORB_0
KBA13_VORB_1
KBA13_VORB_1_2
KBA13_VORB_2
KBA13_VORB_3
KBA13_VW
KK_KUNDENTYP
KKK
KOMBIALTER
KONSUMNAEHE
KONSUMZELLE
LP_FAMILIE_FEIN
LP_FAMILIE_GROB
LP_LEBENSPHASE_FEIN
LP_LEBENSPHASE_GROB
LP_STATUS_FEIN
LP_STATUS_GROB
MIN_GEBAEUDEJAHR
MOBI_RASTER
MOBI_REGIO
NATIONALITAET_KZ
ONLINE_AFFINITAET
ORTSGR_KLS9
OST_WEST_KZ
PLZ8_ANTG1
PLZ8_ANTG2
PLZ8_ANTG3
PLZ8_ANTG4
PLZ8_BAUMAX
PLZ8_GBZ
PLZ8_HHZ
PRAEGENDE_JUGENDJAHRE
REGIOTYP
RELAT_AB
RETOURTYP_BK_S
RT_KEIN_ANREIZ
RT_SCHNAEPPCHEN
RT_UEBERGROESSE
SEMIO_DOM
SEMIO_ERL
SEMIO_FAM
SEMIO_KAEM
SEMIO_KRIT
SEMIO_KULT
SEMIO_LUST
SEMIO_MAT
SEMIO_PFLICHT
SEMIO_RAT
SEMIO_REL
SEMIO_SOZ
SEMIO_TRADV
SEMIO_VERT
SHOPPER_TYP
SOHO_KZ
STRUKTURTYP
TITEL_KZ
UMFELD_ALT
UMFELD_JUNG
UNGLEICHENN_FLAG
VERDICHTUNGSRAUM
VERS_TYP
VHA
VHN
VK_DHT4A
VK_DISTANZ
VK_ZG11
W_KEIT_KIND_HH
WOHNDAUER_2008
WOHNLAGE
ZABEOTYP
ANREDE_KZ
ALTERSKATEGORIE_GROB

In [17]:
new_dict = {topic : [] for topic in topics}
#cur_topic = 'Information level'
for i, (topic, sub) in enumerate(zip(attribute_info[1], attribute_info[2])):
    if(topic is not np.nan):
        cur_topic = topic
        if(sub is not np.nan):
            new_dict[cur_topic].append(sub)
    
    if(topic is np.nan):
        if(sub is not np.nan):
            new_dict[cur_topic].append(sub)
str(new_dict)

"{'Information level': ['Attribute', 'AGER_TYP'], 'Person': ['ALTERSKATEGORIE_GROB', 'ANREDE_KZ', 'CJT_GESAMTTYP', 'FINANZ_MINIMALIST', 'FINANZ_SPARER', 'FINANZ_VORSORGER', 'FINANZ_ANLEGER', 'FINANZ_UNAUFFAELLIGER', 'FINANZ_HAUSBAUER', 'FINANZTYP', 'GEBURTSJAHR', 'GFK_URLAUBERTYP', 'GREEN_AVANTGARDE', 'HEALTH_TYP', 'LP_LEBENSPHASE_FEIN', 'LP_LEBENSPHASE_GROB', 'LP_FAMILIE_FEIN', 'LP_FAMILIE_GROB', 'LP_STATUS_FEIN', 'LP_STATUS_GROB', 'NATIONALITAET_KZ', 'PRAEGENDE_JUGENDJAHRE', 'RETOURTYP_BK_S', 'SEMIO_SOZ', 'SEMIO_FAM', 'SEMIO_REL', 'SEMIO_MAT', 'SEMIO_VERT', 'SEMIO_LUST', 'SEMIO_ERL', 'SEMIO_KULT', 'SEMIO_RAT', 'SEMIO_KRIT', 'SEMIO_DOM', 'SEMIO_KAEM', 'SEMIO_PFLICHT', 'SEMIO_TRADV', 'SHOPPER_TYP', 'SOHO_FLAG', 'TITEL_KZ', 'VERS_TYP', 'ZABEOTYP'], 'Household': ['ALTER_HH', 'ANZ_PERSONEN', 'ANZ_TITEL', 'HAUSHALTSSTRUKTUR', 'HH_EINKOMMEN_SCORE', 'D19_KK_KUNDENTYP', 'D19_KONSUMTYP', 'D19_GESAMT_ANZ_12                                    D19_GESAMT_ANZ_24', 'D19_BANKEN_ ANZ_12             D19_BANKEN_ ANZ_24', 'D19_TELKO_ ANZ_12                  D19_TELKO_ ANZ_24', 'D19_VERSI_ ANZ_12                                       D19_VERSI_ ANZ_24', 'D19_VERSAND_ ANZ_12          D19_VERSAND_ ANZ_24', 'D19_GESAMT_OFFLINE_DATUM', 'D19_GESAMT_ONLINE_DATUM', 'D19_GESAMT_DATUM', 'D19_BANKEN_OFFLINE_DATUM', 'D19_BANKEN_ONLINE_DATUM', 'D19_BANKEN_DATUM', 'D19_TELKO_OFFLINE_DATUM', 'D19_TELKO_ONLINE_DATUM', 'D19_TELKO_DATUM', 'D19_VERSAND_OFFLINE_DATUM', 'D19_VERSAND_ONLINE_DATUM', 'D19_VERSAND_DATUM', 'D19_VERSI_OFFLINE_DATUM', 'D19_VERSI_ONLINE_DATUM', 'D19_VERSI_DATUM', 'D19_GESAMT_ONLINE_QUOTE_12', 'D19_BANKEN_ONLINE_QUOTE_12', 'D19_VERSAND_ONLINE_QUOTE_12', 'W_KEIT_KIND_HH', 'WOHNDAUER_2008'], 'Building': ['ANZ_HAUSHALTE_AKTIV', 'ANZ_HH_TITEL', 'GEBAEUDETYP', 'GEOSCORE_KLS7', 'KBA05_HERSTTEMP', 'KBA05_MODTEMP', 'KONSUMNAEHE', 'MIN_GEBAEUDEJAHR', 'OST_WEST_KZ', 'WOHNLAGE'], 'Microcell (RR4_ID)': ['CAMEO_DEUG_2015', 'CAMEO_DEU_2015', 'CAMEO_DEUINTL_2015', 'KBA05_ALTER1', 'KBA05_ALTER2', 'KBA05_ALTER3', 'KBA05_ALTER4', 'KBA05_ANHANG', 'KBA05_ANTG1', 'KBA05_ANTG2', 'KBA05_ANTG3', 'KBA05_ANTG4'], 'Microcell (RR3_ID)': ['KBA05_AUTOQUOT', 'KBA05_BAUMAX', 'KBA05_CCM1', 'KBA05_CCM2', 'KBA05_CCM3', 'KBA05_CCM4', 'KBA05_DIESEL', 'KBA05_FRAU', 'KBA05_GBZ', 'KBA05_HERST1', 'KBA05_HERST2', 'KBA05_HERST3', 'KBA05_HERST4', 'KBA05_HERST5', 'KBA05_KRSAQUOT', 'KBA05_KRSHERST1', 'KBA05_KRSHERST2', 'KBA05_KRSHERST3', 'KBA05_KRSKLEIN', 'KBA05_KRSOBER', 'KBA05_KRSVAN', 'KBA05_KRSZUL', 'KBA05_KW1', 'KBA05_KW2', 'KBA05_KW3', 'KBA05_MAXAH', 'KBA05_MAXBJ', 'KBA05_MAXHERST', 'KBA05_MAXSEG', 'KBA05_MAXVORB', 'KBA05_MOD1', 'KBA05_MOD2', 'KBA05_MOD3', 'KBA05_MOD4', 'KBA05_MOD8', 'KBA05_MOTOR', 'KBA05_MOTRAD', 'KBA05_SEG1', 'KBA05_SEG2', 'KBA05_SEG3', 'KBA05_SEG4', 'KBA05_SEG5', 'KBA05_SEG6', 'KBA05_SEG7', 'KBA05_SEG8', 'KBA05_SEG9', 'KBA05_SEG10', 'KBA05_VORB0', 'KBA05_VORB1', 'KBA05_VORB2', 'KBA05_ZUL1', 'KBA05_ZUL2', 'KBA05_ZUL3', 'KBA05_ZUL4', 'WACHSTUMSGEBIET_NB'], '125m x 125m Grid': ['D19_BANKEN_DIREKT_RZ', 'D19_BANKEN_GROSS_RZ', 'D19_BANKEN_LOKAL_RZ', 'D19_BANKEN_REST_RZ', 'D19_BEKLEIDUNG_GEH_RZ', 'D19_BEKLEIDUNG_REST_RZ', 'D19_BIO_OEKO_RZ', 'D19_BILDUNG_RZ', 'D19_BUCH_RZ', 'D19_DIGIT_SERV_RZ', 'D19_DROGERIEARTIKEL_RZ', 'D19_ENERGIE_RZ', 'D19_FREIZEIT_RZ', 'D19_GARTEN_RZ', 'D19_HANDWERK_RZ', 'D19_HAUS_DEKO_RZ', 'D19_KINDERARTIKEL_RZ', 'D19_KOSMETIK_RZ', 'D19_LEBENSMITTEL_RZ', 'D19_NAHRUNGSERGAENZUNG_RZ', 'D19_RATGEBER_RZ', 'D19_REISEN_RZ', 'D19_SAMMELARTIKEL_RZ', 'D19_SCHUHE_RZ', 'D19_SONSTIGE_RZ', 'D19_TECHNIK_RZ', 'D19_TELKO_MOBILE_RZ', 'D19_TELKO_REST_RZ', 'D19_TIERARTIKEL_RZ', 'D19_VERSICHERUNGEN_RZ', 'D19_VOLLSORTIMENT_RZ', 'D19_VERSAND_REST_RZ', 'D19_WEIN_FEINKOST_RZ'], 'Postcode ': ['BALLRAUM', 'EWDICHTE', 'INNENSTADT', 'PLZ'], 'RR1_ID': ['GEBAEUDETYP_RASTER', 'KKK', 'MOBI_REGIO', 'ONLINE_AFFINITAET', 'REGIOTYP'], 'PLZ8': ['KBA13_ALTERHALTER_30', 'KBA13_ALTERHALTER_45', 'KBA13_ALTERHALTER_60', 'KBA13_ALTERHALTER_61', 'KBA13_ANZAHL_PKW', 'KBA13_AUDI', 'KBA13_AUTOQUOTE', 'KBA13_BJ_1999', 'KBA13_BJ_2000', 'KBA13_BJ_2004', 'KBA13_BJ_2006', 'KBA13_BJ_2008', 'KBA13_BJ_2009', 'KBA13_BMW', 'KBA13_CCM_1000', 'KBA13_CCM_1200', 'KBA13_CCM_1400', 'KBA13_CCM_0_1400', 'KBA13_CCM_1500', 'KBA13_CCM_1400_2500', 'KBA13_CCM_1600', 'KBA13_CCM_1800', 'KBA13_CCM_2000', 'KBA13_CCM_2500', 'KBA13_CCM_2501', 'KBA13_FAB_ASIEN', 'KBA13_FAB_SONSTIGE', 'KBA13_FIAT', 'KBA13_FORD', 'KBA13_HALTER_20', 'KBA13_HALTER_25', 'KBA13_HALTER_30', 'KBA13_HALTER_35', 'KBA13_HALTER_40', 'KBA13_HALTER_45', 'KBA13_HALTER_50', 'KBA13_HALTER_55', 'KBA13_HALTER_60', 'KBA13_HALTER_65', 'KBA13_HALTER_66', 'KBA13_HERST_ASIEN', 'KBA13_HERST_AUDI_VW', 'KBA13_HERST_BMW_BENZ', 'KBA13_HERST_EUROPA', 'KBA13_HERST_FORD_OPEL', 'KBA13_HERST_SONST', 'KBA13_KMH_110', 'KBA13_KMH_140', 'KBA13_KMH_180', 'KBA13_KMH_0_140', 'KBA13_KMH_140_210', 'KBA13_KMH_211', 'KBA13_KMH_250', 'KBA13_KMH_251', 'KBA13_KRSAQUOT', 'KBA13_KRSHERST_AUDI_VW', 'KBA13_KRSHERST_BMW_BENZ', 'KBA13_KRSHERST_FORD_OPEL', 'KBA13_KRSSEG_KLEIN', 'KBA13_KRSSEG_OBER', 'KBA13_KRSSEG_VAN', 'KBA13_KRSZUL_NEU', 'KBA13_KW_30', 'KBA13_KW_40', 'KBA13_KW_50', 'KBA13_KW_60', 'KBA13_KW_0_60', 'KBA13_KW_70', 'KBA13_KW_61_120', 'KBA13_KW_80', 'KBA13_KW_90', 'KBA13_KW_110', 'KBA13_KW_120', 'KBA13_KW_121', 'KBA13_MAZDA', 'KBA13_MERCEDES', 'KBA13_MOTOR', 'KBA13_NISSAN', 'KBA13_OPEL', 'KBA13_PEUGEOT', 'KBA13_RENAULT', 'KBA13_SEG_GELAENDEWAGEN', 'KBA13_SEG_GROSSRAUMVANS', 'KBA13_SEG_KLEINST', 'KBA13_SEG_KLEINWAGEN', 'KBA13_SEG_KOMPAKTKLASSE', 'KBA13_SEG_MINIVANS', 'KBA13_SEG_MINIWAGEN', 'KBA13_SEG_MITTELKLASSE', 'KBA13_SEG_OBEREMITTELKLASSE', 'KBA13_SEG_OBERKLASSE', 'KBA13_SEG_SONSTIGE', 'KBA13_SEG_SPORTWAGEN', 'KBA13_SEG_UTILITIES', 'KBA13_SEG_VAN', 'KBA13_SEG_WOHNMOBILE', 'KBA13_SITZE_4', 'KBA13_SITZE_5', 'KBA13_SITZE_6', 'KBA13_TOYOTA', 'KBA13_VORB_0', 'KBA13_VORB_1', 'KBA13_VORB_1_2', 'KBA13_VORB_2', 'KBA13_VORB_3', 'KBA13_VW', 'PLZ8', 'PLZ8_ANTG1', 'PLZ8_ANTG2', 'PLZ8_ANTG3', 'PLZ8_ANTG4', 'PLZ8_BAUMAX', 'PLZ8_HHZ', 'PLZ8_GBZ'], 'Community': ['ARBEIT', 'EINWOHNER', 'GKZ', 'ORTSGR_KLS9', 'RELAT_AB']}"

In [18]:
new_dict['Information level'] = new_dict['Information level'].pop(1)

In [19]:
new_dict['Information level']

'AGER_TYP'

In [20]:
print(sum(map(len, new_dict.values())))
print(len(more_info[1].unique()))

320
316

In [21]:
azdias_feat = pd.DataFrame(columns=['unique_values', 'percentage'])

In [22]:
for col in azdias.columns:
    values = int(len(azdias[col].unique()))
    percentage = round((np.sum(azdias[col].isna()) / azdias.shape[0])*100, 2)
    azdias_feat.loc[col] = [values, percentage]
    
azdias_feat = azdias_feat.sort_values(['percentage', 'unique_values'], ascending=False)
display(azdias_feat.head())
display(azdias_feat.tail())

             unique_values  percentage
ALTER_KIND4           13.0       99.86
ALTER_KIND3           16.0       99.31
ALTER_KIND2           18.0       96.69
ALTER_KIND1           18.0       90.90
AGER_TYP               5.0       76.02

                      unique_values  percentage
KOMBIALTER                      5.0         0.0
ALTERSKATEGORIE_GROB            5.0         0.0
NATIONALITAET_KZ                4.0         0.0
GREEN_AVANTGARDE                2.0         0.0
ANREDE_KZ                       2.0         0.0

In [23]:
customer_feat = pd.DataFrame(columns=['unique_values', 'percentage'])
for col in customers.columns:
    values = int(len(customers[col].unique()))
    percentage = round((np.sum(customers[col].isna()) / customers.shape[0])*100, 2)
    customer_feat.loc[col] = [values, percentage]
    
customer_feat = customer_feat.sort_values(['percentage', 'unique_values'], ascending=False)
display(customer_feat.head())
display(customer_feat.tail())

              unique_values  percentage
ALTER_KIND4            11.0       99.88
ALTER_KIND3            15.0       99.33
ALTER_KIND2            18.0       97.34
ALTER_KIND1            18.0       93.86
KK_KUNDENTYP            7.0       58.41

                  unique_values  percentage
PRODUCT_GROUP               3.0         0.0
GREEN_AVANTGARDE            2.0         0.0
CUSTOMER_GROUP              2.0         0.0
ONLINE_PURCHASE             2.0         0.0
ANREDE_KZ                   2.0         0.0

In [24]:
#Difference between customer and azdias dataset
diff = np.setdiff1d(customers.columns, azdias.columns)
print(diff)

['CUSTOMER_GROUP' 'ONLINE_PURCHASE' 'PRODUCT_GROUP']

In [25]:
#Values of different features
for col in diff:
    print(str(col) + " - " + str(set(customers[col].values)))

CUSTOMER_GROUP - {'MULTI_BUYER', 'SINGLE_BUYER'}
ONLINE_PURCHASE - {0, 1}
PRODUCT_GROUP - {'COSMETIC_AND_FOOD', 'FOOD', 'COSMETIC'}

In [26]:
for col in diff:
    counts = customers[col].value_counts()
    sum_c = np.sum(customers[col].value_counts())
    print(str(col))
    print(25*"--")
    for idx in counts.index:
        print(str(idx) + ": " + str(round(counts[idx] / sum_c ,3) * 100) + "%")
        
    print(25*"=="+"\n\n")

CUSTOMER_GROUP
--------------------------------------------------
MULTI_BUYER: 69.0%
SINGLE_BUYER: 31.0%
==================================================


ONLINE_PURCHASE
--------------------------------------------------
0: 91.0%
1: 9.0%
==================================================


PRODUCT_GROUP
--------------------------------------------------
COSMETIC_AND_FOOD: 52.6%
FOOD: 24.7%
COSMETIC: 22.7%
==================================================

In [27]:
customers.drop(columns=['CUSTOMER_GROUP', 'ONLINE_PURCHASE', 'PRODUCT_GROUP'], inplace=True)

In [28]:
# merge azdias and customers data, add CLASS column containing class labels 
azdias['CLASS'] = 0
customers['CLASS'] = 1
merge_data = pd.concat([azdias, customers], axis=0)

In [29]:
merge_data.shape

(1082873, 367)

In [30]:
del azdias
del customers

In [31]:
#del real_features

In [ ]:
#real features 
real_label = merge_data['CLASS']

merge_data = merge_data.drop(columns = ['CLASS'])
merge_data.head()

In [ ]:
#count the total na in final dataset
na_counts = merge_data.isna().mean(axis=0)

na_counts.plot(kind='hist', bins=20)
plt.xlabel('Missing Value Counts')
plt.title('Missing Values by Column')

plt.show()

In [ ]:
# drop the columns with many missing values to reduce noise
threshold = 0.5

index_rows_sub = (na_counts < threshold)
print(na_counts)

In [ ]:
# Subset columns with the threshold  
index_cols_sub = na_counts < 0.4

features_sub = merge_data.loc[:, index_cols_sub]

In [ ]:
print(merge_data.shape)
print(features_sub.shape)

In [ ]:
# Subset columns with the threshold  
index_cols_sub = na_counts < 0.2

features_sub = merge_data.loc[:, index_cols_sub]

In [ ]:
print(merge_data.shape)
print(features_sub.shape)

In [ ]:
# Sanity Check
# Plot missing value distribution of the remaining columns of the 2 classes
plt.figure(figsize = (15, 5))

plt.subplot(1, 2, 1)
features_sub[real_label==0].isna().mean(axis=0).plot(kind='hist')
plt.title('Azdias')
plt.xlabel('Column Missing Value Ratio')
plt.xticks(np.arange(0, 1, step=0.2))

plt.subplot(1, 2, 2)
features_sub[real_label==1].isna().mean(axis=0).plot(kind='hist')
plt.title('Customers')
plt.xlabel('Column Missing Value Ratio')
plt.xticks(np.arange(0, 1, step=0.2))

plt.show()

In [ ]:
# treatment for rows
# Subset rows with row thresholna_countscounts 
na_count_rows = features_sub.isna().mean(axis=1)

plt.figure(figsize = (10, 5))
na_count_rows.plot(kind='hist', bins=20)
plt.xlabel('Missing Value Ratio')
plt.title('Missing Values by Row')

plt.show()

In [ ]:
index_rows_sub = na_count_rows < 0.2
features_sub = features_sub.loc[index_rows_sub, :]
features_label = real_label[index_rows_sub]

In [ ]:
# Sanity Check
# Plot missing value distribution of the remaining columns of the 2 classes
plt.figure(figsize = (15, 5))

plt.subplot(1, 2, 1)
features_sub[real_label==0].isna().mean(axis=0).plot(kind='hist')
plt.title('Azdias')
plt.xlabel('Column Missing Value Ratio')
plt.xticks(np.arange(0, 1, step=0.2))

plt.subplot(1, 2, 2)
features_sub[real_label==1].isna().mean(axis=0).plot(kind='hist')
plt.title('Customers')
plt.xlabel('Column Missing Value Ratio')
plt.xticks(np.arange(0, 1, step=0.2))

plt.show()

In [ ]:
# Reset the index
features_sub.reset_index(drop=True, inplace=True)

features_label.reset_index(drop=True, inplace=True)

## Part 2: Supervised Learning Model

Now that you've found which parts of the population are more likely to be customers of the mail-order company, it's time to build a prediction model. Each of the rows in the "MAILOUT" data files represents an individual that was targeted for a mailout campaign. Ideally, we should be able to use the demographic information from each individual to decide whether or not it will be worth it to include that person in the campaign.

The "MAILOUT" data has been split into two approximately equal parts, each with almost 43 000 data rows. In this part, you can verify your model with the "TRAIN" partition, which includes a column, "RESPONSE", that states whether or not a person became a customer of the company following the campaign. In the next part, you'll need to create predictions on the "TEST" partition, where the "RESPONSE" column has been withheld.

In [ ]:
mailout_train = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TRAIN.csv', sep=';')

## Part 3: Kaggle Competition

Now that you've created a model to predict which individuals are most likely to respond to a mailout campaign, it's time to test that model in competition through Kaggle. If you click on the link [here](http://www.kaggle.com/t/21e6d45d4c574c7fa2d868f0e8c83140), you'll be taken to the competition page where, if you have a Kaggle account, you can enter. If you're one of the top performers, you may have the chance to be contacted by a hiring manager from Arvato or Bertelsmann for an interview!

Your entry to the competition should be a CSV file with two columns. The first column should be a copy of "LNR", which acts as an ID number for each individual in the "TEST" partition. The second column, "RESPONSE", should be some measure of how likely each individual became a customer – this might not be a straightforward probability. As you should have found in Part 2, there is a large output class imbalance, where most individuals did not respond to the mailout. Thus, predicting individual classes and using accuracy does not seem to be an appropriate performance evaluation method. Instead, the competition will be using AUC to evaluate performance. The exact values of the "RESPONSE" column do not matter as much: only that the higher values try to capture as many of the actual customers as possible, early in the ROC curve sweep.

In [ ]:
mailout_test = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TEST.csv', sep=';')